<?xml version="1.0" encoding="UTF-8"?>
<connectedData station="wave">
  <timingList>
    <cd index="1" frames="101000" />
    <cd index="2" frames="111000" />
    <cd index="3" frames="121000" />
    <cd index="4" frames="131000" />
    <cd index="5" frames="141000" />
    <cd index="6" frames="151000" />
    <cd index="7" frames="161000" />
  </timingList>

  <dataList>
    <entry
      id="!ATTRIBUTES"
      artistname="Wave"
      albumname="Vice City O.S.T. - Volume 2"
      bonusmessage="You’ve unlocked the Wave ConnecteD extras."
      cheatcode=""
    />

    <entry
      id="1"
      type="webpage"
      text="Vice City desktops and wallpapers"
      url="/vicecity/desktops/index.html"
      fontsize="14"
    />
  </dataList>

</connectedData>

