<?xml version="1.0" encoding="UTF-8"?>
<connectedData station="vrock">
  <timingList>
    <cd index="1" frames="100000" />
    <cd index="2" frames="110000" />
    <cd index="3" frames="120000" />
    <cd index="4" frames="130000" />
    <cd index="5" frames="140000" />
    <cd index="6" frames="150000" />
    <cd index="7" frames="160000" />
  </timingList>

  <dataList>
    <entry
      id="!ATTRIBUTES"
      artistname="Vrock"
      albumname="Vice City O.S.T. - Volume 1"
      bonusmessage="You’ve unlocked the Vrock ConnecteD extras."
      cheatcode="Spawns Love Fist limo - R2, UP, L2, LEFT, LEFT, R1, L1, CIRCLE, RIGHT"
    />

    <entry
      id="1"
      type="webpage"
      text="Vice City desktops and wallpapers"
      url="/vicecity/desktops/index.html"
      fontsize="14"
    />
  </dataList>

</connectedData>

